body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #22313F;

}
h1 {
	text-align: center;
	color: white;
	font-size: 36px;
	font-style: arial, verdana, "Times New Roman";
}
header {
	padding: 200px 0;
}